@import 'tailwindcss';

@source '../views';

@theme {
  --color-ocean: #0035ff;
  --color-ocean-dark: #092ebc;
  --color-coral: #ff3047;

  --color-dark-100: #242424;
  --color-dark-200: #1e1e1e;
  --color-dark-300: #171717;

  --font-heading:
    Arya, Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-sans:
    Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --height-screen: calc(100vh - 3.75rem);

  --min-height-screen: calc(100vh - 3.75rem);

  --animate-slide-fade-in: slide-fade-in 1.5s cubic-bezier(0.25, 1, 0.5, 1)
    forwards;

  @keyframes slide-fade-in {
    0% {
      opacity: 0;
      transform: translateY(32px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.markup {
    @apply overflow-hidden mt-4 text-neutral-300;
}

.markup > p {
    @apply whitespace-pre-wrap mb-4;
}

.markup h1:not(blockquote h1),
.markup h2:not(blockquote h2),
.markup h3:not(blockquote h3),
.markup h4:not(blockquote h4) {
    @apply mt-8 mb-2;
}

.markup h1 {
    @apply text-3xl font-medium;
}

.markup h2 {
    @apply text-2xl font-medium;
}

.markup h3 {
    @apply text-xl font-medium;
}

.markup h4 {
    @apply text-lg font-medium;
}

.markup > pre {
    @apply p-6 my-4 overflow-x-auto;
}

.markup > pre > code {
    @apply text-sm;
}

.markup *:not(pre) > code {
    @apply px-2 py-0.5 rounded-md text-sm text-neutral-100 bg-coral/50;
}

.markup p a {
    @apply text-coral hover:underline outline-hidden focus:underline;
}

.markup ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.markup ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.markup blockquote {
    @apply border-l-4 border-ocean bg-ocean/15 p-4 my-4;
}

.markup b, .markup strong {
    @apply text-coral;
}

.markup p img {
    @apply inline-block;
}

.markup.images-centered p img {
    @apply block mx-auto;
}

.shiki .highlight {
    background-color: #bb800926;
}

.shiki .add {
    background-color: #2ea04326;
}

.shiki .del {
    background-color: #f8514926;
}

.shiki.focus .line:not(.focus) {
    transition: all 250ms;
    filter: blur(2px);
}

.shiki.focus:hover .line {
    transition: all 250ms;
    filter: blur(0);
}

.shiki .highlight {
    @apply inline-block w-full;
}
