@import url(https://fonts.bunny.net/css?family=arya:400,700|inter:300,400,500,600,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

.markup {
    @apply overflow-hidden mt-4 text-neutral-300;
}

.markup > p {
    @apply whitespace-pre-wrap mb-4;
}

.markup h1 {
    @apply text-3xl font-medium mt-8 mb-2;
}

.markup h2 {
    @apply text-2xl font-medium mt-8 mb-2;
}

.markup h3 {
    @apply text-xl font-medium mt-8 mb-2;
}

.markup h4 {
    @apply text-lg font-medium mt-8 mb-2;
}

.markup > pre {
    @apply p-6 my-4;
}

.markup > pre > code {
    @apply text-sm;
}

.markup *:not(pre) > code {
    @apply px-2 py-0.5 rounded-md text-sm text-neutral-100 bg-coral/50;
}

.markup p a {
    @apply text-coral hover:underline outline-none focus:underline;
}

.markup p img {
    @apply inline-block;
}

.markup ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.markup blockquote {
    @apply border-l-4 border-ocean bg-ocean/15 p-4 my-4;
}

.shiki .highlight {
    background-color: #bb800926;
}

.shiki .add {
    background-color: #2ea04326;
}

.shiki .del {
    background-color: #f8514926;
}

.shiki.focus .line:not(.focus) {
    transition: all 250ms;
    filter: blur(2px);
}

.shiki.focus:hover .line {
    transition: all 250ms;
    filter: blur(0);
}

.shiki .highlight {
    @apply inline-block w-full;
}
